.box {
  height: 300px;
  width: 913px;
  margin: 0 auto;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-tong-020-chim-01_1_0.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=0ae62aacf3d54198d2dde1d1da21487ag");
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  border-radius: 25px;
}
.logo {
  width: 700px;
  margin: 0 auto;
  img {
    width: 650px;
  }
}
.white-box {
  width: 913px;
  height: 100px;
  border-radius: 25px;
  margin: 0 auto;
  // background-image: url("https://i.pinimg.com/originals/68/0e/d9/680ed9b6e8ef3bf3b679ad3b5559624a.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  background: #ffd662ff;
  display: flex;
  justify-content: center;
  align-items: center;
  .MuiFormControl-root {
    width: 850px;
  }
}

.swiper-container {
  height: 200px;
  .MuiCard-root {
    width: 500px;
    margin: 0 auto;
  }
}
.MuiTableContainer-root {
  width: 50% !important;
  margin: 0 auto;
  margin-top: 70px;
  .MuiTableHead-root {
    background-color: #ffd662ff;
    .MuiTableCell-head {
      color: #00539cff;
      font-family: Georgia, serif;
      font-size: 20px;
    }
  }
}
